<div class="page-container">
    <header-nav :title="'我的关注'"></header-nav>

    <div class="page-wrap">
        <div class="page-box">
            <div class="container">

                <ul v-if="!loading && attentionList" class="projects">
                    <li class="project-item" v-for="(n,index) in attentionList">
                        <a :href="'#/detail/'+ n.issuekey" class="summary">
                            <img v-if="n.isimportant" class="icon" src="../public/img/icon_menu_importance.png"><span class="name">{{n.issuetitle}}</span>
                        </a>
                        <p class="right" @click="doAttention(n,index);">
                            <!-- <img v-if="!n.isconcern" class="icon" src="../public/img/icon_attention.png"> -->
                            <img class="icon" src="../public/img/icon_menu_attention.png">
                        </p>
                    </li>

                </ul> 
                <!-- 加载中 -->
                <div v-if="loading" class="loading">
                    <img src="../public/img/loading.gif">
                </div>                 

                <p v-if="!loading && !attentionList" class="no-result">暂无项目...</p>                
            </div>
        </div>
    </div>
</div>