<div class="header-nav">
    <p class="top-block"></p>
    <div class="container" >
        <div class="left" @click="onBack">
            <p >
                <i class="mep-icon mep-icon-chevron-left"></i>
                <span class="text middle-vertical" >返回</span>
            </p>
        </div>
        <span class="name middle-vertical">{{title}}</span>
        <div v-if="teamList.length" class="right" @click="isOpen = !isOpen;">
            <p class="text">研发团队<i class="mep-icon mep-icon-arrow-down-b"></i></p>
            <ul v-if="isOpen" class="selection">
                <li class="item" v-for="(n,index) in teamList"><a :href="'#/team/'+ n.moduleKey">{{n.moduleName}}</a></li>
            </ul>
        </div>
        <div class="shadow" v-if="isOpen" @click="isOpen = false;"></div>
    </div>
</div>