<div class="page-container">
    <header-nav :title="'集团重点项目'"></header-nav>

    <div class="page-wrap">
        <div class="page-box">
            <div class="container">

                <ul class="projects">
                    <li class="project-item">
                        <router-link to="##" class="summary">
                            <img class="icon" src="../public/img/icon_menu_importance.png"><span class="name">海外购超市POS项目</span>
                        </router-link>
                        <p class="right" @click="isAttention = !isAttention;">
                            <img v-if="isAttention" class="icon" src="../public/img/icon_attention.png">
                            <img v-if="!isAttention" class="icon" src="../public/img/icon_menu_attention.png">
                        </p>
                    </li>

                </ul> 
                <!-- 加载中 -->
                <div class="loading">
                    <img src="../public/img/loading.gif">
                </div>                 

                <p class="no-result">暂无项目...</p>                
            </div>
        </div>
    </div>
</div>